body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    color: black; 
}

header {
    text-align: center;
    background-color: #2980b9; 
    color: white;
    padding: 30px 0; 
}

h1 {
    font-size: 2.5em; 
    margin-bottom: 15px; 
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 2em; 
    color: #2c3e50; 
}

.button {
    background-color: #3498db; 
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 1.2em; 
    cursor: pointer;
    text-decoration: none; 
}

.main-content {
    display: flex; 
    justify-content: space-around; 
}

.call-to-action {
    text-align: center; 
}

.image-container { 
    position: relative; 
}

.interactive-image {
    width: 400px;  /* Adjust as needed */
}



.tiles {
  display: flex;
  justify-content: space-around; 
  margin-bottom: 20px; 
}

.tile {
  position: relative; 
  width: 250px; 
  margin: 10px; 
}

.tile img {
  width: 100%; 
  height: auto; 
  border-radius: 8px;
  transition: opacity 0.3s;
}

.tile figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8); 
  color: white;
  padding: 10px;
  opacity: 0; 
  transition: opacity 0.3s; 
}

.tile:hover figcaption {
  opacity: 1; 
}

.tile:hover img { 
  opacity: 0; 
}
.content-wrapper {
    display: flex; /* Enables side-by-side layout */
    justify-content: space-around; /* Adds space around elements */
    align-items: flex-start;
}

.did-you-know {
    text-align: center;
    width: 500px; /* Adjust the width of the fact section */
    margin-top: 40px; /* Adjust spacing as needed */
}

.image-section {
    margin-right: 20px; /* Add space between the image and the fact section */
}

#fact-text {
    margin-bottom: 20px;
}

#next-fact { 
    background-color: #3498db; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em; 
    cursor: pointer;
}
